.cart_main {
    margin: 4% 20%;
    background-color: lightgrey;
    padding: 2% 5%;
    border-radius: 5px;
}

.cart_main_inside {
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    width: 100%;
    padding: 3% 4%;
}

.buy {
    width: 100%;
    margin: 15px 0;
    padding: 5px 10px;
    background-color: chartreuse;
    border-radius: 5px;
    color: white;
}

.modal_container {
    text-align: center;
    margin: 5% 0;
    vertical-align: middle;
}

.modal_container_inside {
    background: white;
    border: 1px solid white;
    border-radius: 5;
    padding: 1%;
    display: inline-block;
}

label {
    font-size: 16px;
    font-weight: bold;
}